<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">






	<!--<bean id="genericObjectPoolConfig" class="org.apache.commons.pool2.impl.GenericObjectPoolConfig">-->
		<!--<property name="maxTotal" value="${redis.maxActive}" />-->
		<!--<property name="maxIdle" value="${redis.maxIdle}" />-->
		<!--<property name="minIdle" value="${redis.minIdle}" />-->
		<!--<property name="testOnBorrow" value="${DBSync.testOnBorrow}" />-->
	<!--</bean>-->
	<!--<bean id="jedisSentinelPool" class="redis.clients.jedis.JedisSentinelPool">-->
		<!--<constructor-arg index="0" value="${redis.name}" />-->
		<!--<constructor-arg index="1">-->
			<!--<set>-->
				<!--<value>${redis.addr1}</value>-->
				<!--<value>${redis.addr2}</value>-->
				<!--<value>${redis.addr3}</value>-->
			<!--</set>-->
		<!--</constructor-arg>-->
		<!--<constructor-arg index="2" ref="genericObjectPoolConfig" />-->
	<!--</bean>-->



	<!--<bean id="idGenerateUtil" class="com.ea.idgen.common.util.IdGenerateUtil" init-method="init" destroy-method="destroy">-->
		<!--<property name="url" value="${redis.idgen.url}"/>-->
		<!--<property name="testOnBorrow" value="true"/>-->
	<!--</bean>-->

</beans>